  .theme-select {
    width: 20%;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.theme-btn {
    position: absolute;
    border-radius: 5em;
    width: 2.4em;
    height: 2.4em;
    padding: 0;
    line-height: 2.15em;
    text-align: center;
    border-width: 2px;
    left: 50%;
    top: 50%;
    margin-left: -1.2em;
    margin-top: -1.2em;
}

.invert-theme {
    color: #FFF;
    background-color: #333;
}
.theme-color {
    background:#433;
}
.col-b{
  border-radius: '10px';
}
.theme-back {
  width: 45%;
  padding: 10px;
  color:#333;
  background:#fff;
  border-radius: 5em;
  width: 2.4em;
  height: 2.4em;
  padding: 0;
  line-height: 2.15em;
  text-align: center;
  border-width: 2px;
  /* left: 50%; */
  /* top: 50%; */
  /* margin-left: -1.2em; */
  /* margin-top: -1.2em; */
}
